a {
    text-decoration: none;
}

.carouselOrder {
    display: flex;
    flex-direction: row;
}

.cardContainer {
    display: flex;
    text-align: center;
    border: 0px solid grey;
    border-radius: 5px;
    gap: .5rem;
    height: 100px;
    width: 400px;
    color: black;
    font-size: 12px;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.46);
    box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.46);
    padding: .2rem;
}

.image{
    height: 80%;
}